{% extends 'myauth/base.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block body %}
    <h1>Update Profile</h1>

    {% if error_message %}
        <div class="alert alert-warning">{{ error_message }}</div>
    {% else %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>

    {% endif %}

    <p>
        <a href="{% url 'myauth:user-list' %}">
            Back to users list
        </a>
    </p>

{% endblock %}